.search-bar{
  margin: 20px;
  text-align: center;
}

.video-item img{
  max-width: 64px;
}

.video-detail .details{
  margin-top: 10px;
  margin-left: 25%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  width:900px;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}